@model BusinessLogic.BusinessModels.EventModel
@{
    var currentAreaRow = Model.Areas.Any() ? Model.Areas.First().CoordY : 0;
    int i = 0;
}

<div class="h-100 border-bottom  border-left border-right mb-3 text-center scene">@Resource.Scene</div>

<div>
    <!--draw area-->
    @while (i < Model.Areas.Count)
    {
        if (Model.Areas[i].CoordY == currentAreaRow)
        {
            //draw seats
            var seatRow = Model.Areas[i].Seats.First().Row;
            int j = 0;
    <div class="area border">
        <div class="float-left row-counter">@seatRow</div>

        @while (j < Model.Areas[i].Seats.Count)
        {
            if (Model.Areas[i].Seats[j].Row == seatRow)
            {
                if (Model.Areas[i].Seats[j].State == 0)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="text-decoration-none" onclick="AddToCart('@Model.Areas[i].Seats[j].Id', this, '@Resource.AddedToCartNotify'); return false;">                          
                            <div class="seat-seatmap seat-available">
                                @Model.Areas[i].Seats[j].Number
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="text-decoration-none locked-seat">
                            <div class="seat-seatmap  seat-available">
                                @Model.Areas[i].Seats[j].Number
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a href="#" class="text-decoration-none locked-seat">
                        <div class="seat-seatmap seat-unavailable">
                            @Model.Areas[i].Seats[j].Number
                        </div>
                    </a>
                }
                j++;
            }
            else
            {
                seatRow = Model.Areas[i].Seats[j].Row;
                <br />
                <div class="float-left row-counter">@seatRow</div>
            }

        }

    </div>
            i++;
        }
        else
        {
            currentAreaRow = Model.Areas[i].CoordY;
            <br />
        }
    }
</div>






