@model BusinessLogic.BusinessModels.EventModel
@{
    ViewBag.Title = Resource.EventInformation;

}

<div class="row">
    <div class="w-25">
        <img id="event-image" class="img-border" src="@Url.Content(Model.Event.ImageURL)" style="width:260px; height:260px; margin-left:4px;" class="border" />
        <div class="pt-3 m-auto d-table">
            @Model.Venue.Name (@Model.LayoutName)
        </div>
        <div class="pt-3 m-auto d-table">
            @Resource.Date: @Model.Event.Date.ToShortDateString() (@Model.Event.Date.ToShortTimeString())
        </div>
    </div>
        <div class="row w-75">
            <div class="pl-4">
                <div class="title-event">@Model.Event.Title</div>
                <div class="description-event">Description:  @Model.Event.Description</div>
            </div>
        </div>
</div>

<br />
<div id="seatMap" class="d-table m-auto">
    @Html.Partial("~/Views/Home/Partial/SeatMap.cshtml", Model)
</div>
<br />