@model TicketManagementMVC.Models.BalanceReplenishmentViewModel
@{
    ViewBag.Title = Resource.BalanceReplenishmentTitle;
}
<h2 class="m-auto w-75 title mb-3">@Resource.BalanceReplenishmentTitle</h2>
<br />
@using (Html.BeginForm("BalanceReplenishment", "Account", FormMethod.Post, new { @class = "m-auto w-25" }))
{
<div class="recharge-form d-table m-auto">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(x => x.Amount), USD
        <div class="row-leftside">@Html.TextBoxFor(x => x.Amount, null, new { @class = "form-control" }) </div>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary register-button col-7">@Resource.AddButton</button>
        <button type="button" class="btn btn-primary back-button col-4" onclick="location.href='@Url.Action("Index", "Home")'">@Resource.BackButton</button>
    </div>
</div>
}

