@model TicketManagementMVC.Models.UserProfileViewModel
@{
    ViewBag.Title = AccountResource.UserProfile;

}
<script type="text/javascript">
    $(window).ready(function () {
        $('.text-success').hide();
    });
</script>
<h2 class="m-auto w-75 title mb-3">@AccountResource.UserProfile</h2>
@using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "m-auto w-75", @id="userProfile-form" }))
{
    <div class="m-auto">
    </div>
    <div class="register-form">
        @Html.AntiForgeryToken()
        <div id="errorMessagesUserProfile" class=" text-danger"></div>

        <div class="form-group">
            @Html.LabelFor(x => x.Firstname)
            @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Surname)
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "required" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Culture)
            @Html.DropDownListFor(x => x.Culture, Enum.GetValues(typeof(Cultures)).Cast<Cultures>().
           Select(x=>new SelectListItem { Text = Html.GetEnumDescription(x), Value  = x.ToString()}),
           new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Timezone)
            @Html.DropDownListFor(x => x.Timezone, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName"),
           new { @class = "form-control select-timezone", autocomplete = "off" })
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmNewPassword)
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary register-button" onclick="UserValidation('userProfile')">@EventResource.SaveChanges</button>
            <button type="button" class="btn btn-primary back-button" onclick="location.href='@Url.Action("Index", "Home")'">@CommonResource.Back</button>
        </div>
        <div class="text-center text-success font-weight-bold text" style="font-size:30px;" id="success">@CommonResource.Saved</div>
    </div>
}
<br />
