@model TicketManagementMVC.Models.UserProfileViewModel
@{
    ViewBag.Title = Resource.UserProfileTitle;

}
<script type="text/javascript">
    $(window).ready(function () {
        $('.text-success').hide();
    });
</script>
<h2 class="m-auto w-75 title mb-3">@Resource.UserProfileTitle</h2>
@using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "m-auto w-75" }))
{
    <div class="m-auto">
    </div>
    <div class="register-form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.Firstname)
            @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Surname)
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "required" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Culture)
            @Html.DropDownListFor(x => x.Culture, Enum.GetValues(typeof(TicketManagementMVC.Models.Culture)).Cast<TicketManagementMVC.Models.Culture>().
           Select(x=>new SelectListItem { Text = TicketManagementMVC.Models.CultureEnum.GetDescription(x), Value  = x.ToString()}),
           new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Timezone)
            @Html.DropDownListFor(x => x.Timezone, new SelectList(TimeZoneInfo.GetSystemTimeZones().ToList(), "Id", "DisplayName", "UTC"),
           new { @class = "form-control select-timezone", autocomplete = "off" })
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmNewPassword)
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control", autocomplete = "off" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary register-button">@Resource.SaveChangesButton</button>
            <button type="button" class="btn btn-primary back-button" onclick="location.href='@Url.Action("Index", "Home")'">@Resource.BackButton</button>
        </div>
        <div class="text-center text-success font-weight-bold text" style="font-size:30px;" id="success">@Resource.SuccessNotification</div>
    </div>
}
<br />
